body {
    background-color: #FFF5DA;
}
main {
    display: inline-block;
    width: 800px;
}
header {
    display: inline-block;
    width: 100%;
    background-color: aqua;
}
header > nav {
    display: inline-block;
    background-color: orange;
}
header > .top-left-nav {
    float: left;
    display: inline-block;
}
header > .top-right-nav {
    float: right;
    display: inline-block;
}
header > nav > a { 
    float: left;
    margin-right: auto; 
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: blue;
} 
header > nav > a:last-of-type {
    margin-right: 0;
}
header > nav > .center-logo {
    display: inline-block;
    text-align: center;
    position: relative;
}
header > img {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
}
.left-section {
    display: inline-block;
    width: 50%;
    float: left;
}
section > div > .side-image {
    display:inline-block;
    width: 400px;
    float: left;

}